@charset "utf-8";
/* CSS Document */
body {
	background-image: url("https://thumbs.dreamstime.com/b/fondo-color-rojo-y-rojo-de-la-pared-de-la-textura-dise%C3%B1o-39668486.jpg");
	background-repeat: repeat;
	border-left-color: #FFF;
  }
